./.cz-config.js
./.editorconfig
./.eslintignore
./.eslintrc.yml
./.gitignore
./.history
./.husky
./.prettierignore
./.prettierrc
./api-extractor.json
./babel.config.json
./bower_components
./commitlint.config.js
./jest.config.ts
./lerna.json
./node_modules
./package-lock.json
./rollup.config.js
./scripts
./temp
./tsconfig.
./versionrc.js

packages/*/__tests__
packages/*/api-extractor.json
packages/*/bower_components
packages/*/node_modules
packages/*/package-lock.json
packages/*/src
packages/*/types
